name: PR pipeline

on:
  pull_request:
    types: [opened, reopened, synchronize, labeled]

jobs:
  # checks the code for styling and type errors
  check:
    name: Check styling
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # actions/checkout@v4
      - name: setup python
        uses: ./.github/actions/setup-python
        id: setup-python
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda
        with:
          version: 10
      - name: Install go-task
        run: sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b /usr/local/bin
      - name: Install dependencies
        run: task install
      - name: Run check
        run: task check

  # runs the unit tests
  unit-test:
    name: Unit test
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    needs:
      - check
    steps:
      - name: checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # actions/checkout@v4
      - name: setup python
        uses: ./.github/actions/setup-python
        id: setup-python
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda
        with:
          version: 10
      - name: Install go-task
        run: sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b /usr/local/bin
      - name: Run tests
        run: task test:unit

  # validates documentation is up to date
  validate-docs:
    name: Validate tool docs
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    needs:
      - check
    steps:
      - name: checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # actions/checkout@v4
      - name: setup python
        uses: ./.github/actions/setup-python
        id: setup-python
      - name: Install go-task
        run: sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b /usr/local/bin
      - name: Validate documentation is up to date
        run: task docs:generate CHECK_FLAG=--check
